body {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.side-picture {
	flex: 1 1 100px;
	background-size: cover;
	background-position: center bottom;
	background-image: url(./hannah-wright-OlbCWO7068Y-unsplash.jpg);
	display: flex;
	flex-direction: column;
}

.side-pic-top {
	flex: 2 1 1px;
}

.side-pic-bottom {
	flex: 3 1 1px;
}

.side-pic-text {
	background-color: rgba(173, 183, 184, 0.7);
	color:darkslategray;
	flex: 0 0 auto;
}

.side-pic-image-attribution {
	background-color: rgba(173, 183, 184, 0.7);
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.side-pic-image-attribution p {
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
}

.side-pic-image-attribution a {
	color:darkslategray;
}

.signup-form {
	flex: 2 0 200px;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: beige;
}

#signup-form {
	display: grid;
	width: 100%;
	padding: 20px 50px;
	box-sizing: border-box;
	grid-template-columns: 1fr 1fr;
	gap: 10px 40px;
	background-color: white;
	box-shadow: 5px 3px 5px 2px lightgray;
}

.form-input-container label {
	display: block;
	font-weight: bold;
	padding: 2px;
} 

.form-input-container input {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: larger;
}

.around-form {
	margin: 50px;
}

.around-form p {
	font-size: larger;
}

.around-form button {
	font-size: larger;
	padding: 20px;
	background-color: gray;
	color: whitesmoke;
	border-radius: 5px;
}